body {
    background-color: #f1efe7;
    font-family: Cascadia Code;
}

.ornek {
    width: 900px;
    margin: auto;
}

.sola-kaydir {
    float: left;
    padding: 0 10px 10px 0;
}

.link {
    color:#59271C ;
    text-decoration: none;
}

.colbicim{
    color: #308C50;
}






